<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo anual de futbol uruguayo 2020</title>
</head>
<body>
    <h1 id="tabla">Tabla de posiciones fútbol uruguayo</h1>
    <p>Datos actualizados cada <%=data.time%> segundos</p>
    <form action="" method="POST">
        <label for="frecuencia">Configurar frecuencia de Atualización en segundos:</label>
        <input type="number" name="tiempo" >
        <input type="submit" name="enviar" value="Enviar">
    </form>
    <table border="1">
        <caption>Torneo anual 2020</caption>
        <tr class="original">
            <th>Posicion</th>
            <th>Club</th>
            <th>Partidos Jugados</th>
            <th>Partidos Ganados</th>
            <th>Partidos Empatados</th>
            <th>Partidos Perdidos</th>
            <th>Diferencia de goles</th>
            <th>Puntos</th>
        </tr>
        <tr class="cellphone">
            <th>Pos</th>
            <th>CLub</th>
            <th>J</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>DG</th>
            <th>Pts</th>
        </tr>
        <% data.posiciones.forEach(function (posiciones){ %>
            <tr>
                <td><%=posiciones.pos %></td>
                <td><img src=<%=posiciones.imgUrl %> alt=<%=posiciones.clubName %>><%=posiciones.clubName %> </td>
                <td><%=posiciones.played %></td>
                <td><%=posiciones.wins %></td>
                <td><%=posiciones.ties %></td>
                <td><%=posiciones.loses %></td>
                <td><%=posiciones.gd %></td>
                <td><%=posiciones.pts %></td>
            </tr>
        <%})%>
    </table>
</body>
</html>
